*{
	border:0px;
	padding:0px;
	margin: 0px;
}
.noMargin{
	border:0px;
	padding:0px;
	margin: 0px;
}
.roundedCorner{
	/*border-radius: 25px;*/
	
}

.containerCentralizado{
	display : grid;
	grid-template-columns: 0.05fr 1fr 0.05fr;
	grid-template-rows: 0.05fr 1fr 0.05fr;
	padding: 0;
	
}
.itemCentralizado{
	justify-self: stretch;
	grid-column: 1 / 4;
	grid-row: 1 / 4;
	
}

.container{
	display : grid;
	grid-template-columns: 0.31fr 1fr 1fr 1fr 0.31fr;
	grid-template-rows: 0.31fr 0.7fr 0.7px 0.31fr ;
	grid-template-areas:
		"itemGrid1 itemGrid1 itemGrid1 itemGrid1 itemGrid1"
		"itemGrid1 itemGrid1 itemGrid1 itemGrid1 itemGrid1"
		"itemGrid1 itemGrid1 itemGrid1 itemGrid1 itemGrid1"
		"itemGrid2 itemGrid2 itemGrid2 itemGrid2 itemGrid2"
		"fill fill fill fill fill";
}

.itemGrid1{
	grid-area:itemGrid1; 
	justify-self: center;
	align-self: center;
}
.itemGrid2{
	grid-area:itemGrid2;
	justify-self: stretch;
	align-self: center;
	
}
.fill{
	grid-area: fill;
}

.textStyle{
	width:40%; 
	height:31%;
	display:inline-block;
}
.albergueForeground{
	/*background-color: rgba(50, 50, 50, 0.5);*/
	max-width:100%;
	max-height: 100%;
}

.albergueBackground.containerCentralizado{
	background-color: #98613A;
}
/*
.itemCentralizado{
	justify-self: stretch;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	
}

.container{
	display : grid;
	grid-template-columns: 0.31fr 1fr 1fr 1fr 0.31fr;
	grid-template-rows: 0.31fr 1.5fr 0.31fr ;
	
}

.itemGrid1{
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	
}
.itemGrid2{
	display: grid;
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	align-self: center;
}


/*
@media (){
	
	
}
konojo
*/