/* 	PAGINA */

body,td,th {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
body { 
	background-color: #1B7192;
	background-image: url(../img/bg_body.jpg);
	background-repeat:repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}



/* TEXTOS */

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}



/* ALPHA NA IMAGEM HOVER */

a:hover img {
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.menu a:hover {
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}



/* TEXTOS EDITADOS */

.texto_menor_10 {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none
}
.texto_branco_simples {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none
}
.texto_azul {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #30495A;
	text-decoration: none
}
.marrom {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #70614E;
	text-decoration: none
}
.texto_menor_10 a:{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none	
}
.texto_menor_10 a: link{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none	
}
.texto_menor_10 a: hover{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none	
}
.texto_menor_10 a: visited{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none	
}
.texto_padrao_preto {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none
}
.texto_padrao {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none
}
.texto_padrao a:{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none	
}
.texto_padrao a: link{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none	
}
.texto_padrao a: hover{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none	
}
.texto_padrao a: visited{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none	
}
.texto_padrao_sublinhado {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline
}
.texto_branco_negrito {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold
}
.texto_branco_gr {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
}
.tits {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #A22B29;
}
.blue {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #006699;
}


.titulossite {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
.texto_preto_negrito {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold
}
.texto_verde_negrito {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600 ;
	font-weight: bold
}
.texto_cinza {
font-family : Trebuchet MS; 
font-size : 12px; 
color : #efefef; 
} 
.texto_cinza_esc {
font-family : Trebuchet MS; 
font-size : 12px; 
color:#666666;
} 
.texto_verde {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600 ;
}
.laranja {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC6600;
}
.verm {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B5322C;
}

.texto_azul_gr {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #004a73 ;
}
.texto_vermelho_negrito {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: bold
}



/* REPETICAO DE FUNDO */

.tabela {
background-repeat:no-repeat
 }


/* ALINHAMENTO */

.esquerda { TEXT-ALIGN: left }
.centro   { TEXT-ALIGN: center }
.direita  { TEXT-ALIGN: right }


/* BOX FORMULARIOS */

.box  {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	border:1px solid #cccccc;
	background:#ffffff url(../img/fundoFormulario.jpg) repeat-x top left;
	
}
.box_grande  {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	border:1px solid #cccccc;
	background:#ffffff url(../img/fundo_form_g.jpg) repeat-x top left;
	
}
.box_erro  {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	border:1px solid #cccccc;
	background:#ffffff url(../img/fundoFormulario2.jpg) repeat-x top left;
	
}
.invalido  {
	font-family: Trebuchet MS;
	font-size: 12px;
	color: #999999;
	border:1px solid #BCBCBC;
	background:#ffffff url(../img/fundoFormulario2.jpg) repeat-x top left;
}